/* FONT */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* VERIABLES */

:root {
    --basic-white: #fff;
    --basic-black: #000;
    --basic-dark: #333333;
    --basic-blue: #81B3D2;
    --basic-grey: #EEEEEE;
    --light-grey: #F2F2F2;
    --darker-grey: #EAEAEA;
}

/* GLOBAL */

.page__body {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* HEADER */

.page__header {

}
.header {

}

.header__nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
}
.header__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header__item:nth-child(1) {
    order: 1;
    align-items: flex-start;
    z-index: 1;
}
.header__item:nth-child(4) {
    order: 2;
}
.header__item:nth-child(5) {
    order: 3;
}
.header__item {
    width: 239px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.header__link {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
}

.page__main {
    margin-top: 55px;
}
.main {

}
.main__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}
.main__title {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.main__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-dark);
}
.main__features {

}
.features {

}
.features__wrapper {
    display: flex;
}
.features__block {
    background-color: var(--basic-blue);
}
.block {
    width: 400px;
    height: 256px;
    padding: 47px 52px 56px;
    box-sizing: border-box;
}
.block__title {
    margin: 0;
    padding: 0;
    color: var(--basic-white);
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 15px;
}
.block__number {
    color: var(--basic-white);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-bottom: 20px;
}
.block__text {
    color: var(--basic-white);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.features__list {

}
.feature__item {

}
.item {
}
.item__motel {
}
.item__img {
}
.item__title {
}
.item__text {
}
.item__food {
}
.item__souvenir {
}
.item__small {
}
.item__number {
}
.item__road {
}
.item__tourist {
}
.main__interest {
}
.interest {
}
.interest__wrapper {
}
.interest__title {
}
.button {
}
.page__map {
}
.map {
}
.page__footer {
}
.footer {
}
.footer__social {
}
.social {
}
.social__list {
}
.social__item {
}
.social__link {
}
.footer__copyright {
}